bin/
obj/

**/bin/
**/obj/

.vs/
.vscode/
.idea/

.git/

.gitignore

Dockerfile*

*.user
*.suo
*.log


**/bin
**/obj
**/.vs
**/node_modules
**/TestResults
**/.git
**/.idea
*.md
cemp-chart